.test{
    color: red;
}
.search{
    margin: 30px;
    width: 210px;
    height:35px;
    border:1px solid silver;
}
.search_key{
    width: 150px;
    height: 25px;
    border: none;
    margin-top: 5px; 
    margin-left: 5px;     
}
.submit{
    background:none;
    margin-top: 5px;
    width:40px;
    height: 25px;
    border: none;
    /*这个添加背景图即可*/ 
}
